.title {
    margin-bottom: 4rem;
}

.portfolios {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
    @media screen and (max-width: 1555px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolioItem {
        .image-data {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 15px;
                left: 15px;
                height: calc(100% - 30px);
                width: calc(100% - 30px);
                background-color: #2e344e;
                transform-origin: center;
                transform: scale(0);
                transition: all .2s ease-in-out;
                opacity: 0.7;
            }
            &:hover::before {
                transform: scale(1);
            }
            img {
                width: 100%;
                height: 40vh;
                object-fit: cover;
            }
            .hover-items {
                list-style: none;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 1rem 2rem;
                visibility: hidden;
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 2rem;
                }
                li {
                    display: inline-block;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        padding: 1rem;
                        border-radius: 10px;
                        background-color: #037fff;
                        color: white;
                    }
                }
            }
            &:hover {
                .hover-items {
                    transition: all .3s ease-in-out .1s;
                    visibility: visible;
                    top: 50%;
                }
            }
        }
        h5 {
            font-size: 1.7rem;
            font-weight: 400;
            color: white;
            transition: all .2s ease-in-out;
            &:hover {
                color: #037fff;
                cursor: pointer;
            }
        }
    }
}

.btn-category {
    padding: .5rem 2rem;
    background-color: #0381ff5b;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: white;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    &:not(:last-child) {
        margin-right: 1rem;
    }
    &:hover {
        background-color: #037fff;
    }
    &:active {
        background-color: #037fff;
    }
    &:focus {
        background-color: #037fff;
    }
}

.categoryButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 5rem;
    flex-wrap: wrap;
    @media screen and (max-width: 1270px) {
        margin: 2rem 5rem;
    }
    @media screen and (max-width: 1100px) {
        margin: 2rem 2rem;
    }
}